//fonts
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
$main-font: "Castoro", serif;

//colors
$white-color: #ffffff;
$red-color: #FF0000;
$semired-color: #b65151;
$dark-color: #020d18;

//font-sizes
$H120: 12px;
$H160: 16px;
$H180: 18px;
$H200: 20px;